<template>
  <part>
    <part-title>Outros cursos disponíveis</part-title>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-6" v-for="(index, item) in 8" :key="index">
        
        <Card
        icon="http://via.placeholder.com/45x45" 
        title="3D Softimage: Modelagem, Texturização e Iluminação"
        />

      </div>
    </div>
  </part>
</template>

<script>
  import Part from '../components/Part.vue'
  import PartTitle from '../components/PartTitle.vue'
  import Card from '../components/Card.vue'

  export default {
    components: {
      Part,
      PartTitle,
      Card
    }
  }
</script>
