<template>
  <div>
    <part-title>Aulas</part-title>
    <lessons/>
  </div>
</template>

<script>
import PartTitle from '../components/PartTitle.vue'
import Lessons from '../components/Lessons.vue'

export default {
  components: {
    PartTitle,
    Lessons
  }
}
</script>
