<template>
  <part>
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <course-lessons/>
      </div>
      <div class="col-lg-2 d-lg-block d-sm-none"></div>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <course-details/>
      </div>
    </div>
  </part>
</template>

<script>
  import Part from '../components/Part.vue'
  import CourseLessons from '../containers/CourseLessons.vue'
  import CourseDetails from '../components/CourseDetails.vue'
  
  export default {
    components: {
      Part,
      CourseLessons,
      CourseDetails
    }
  }
</script>

<style lang="sass">
</style>
