<template>
  <part>
    <part-title>Seus cursos em andamento</part-title>
    <div class="row">
      <div class="col-lg-6 col-md-8 col-12">
        
        <Card
        big
        :progress="3"
        icon="http://via.placeholder.com/96x96" 
        title="3D Softimage: Modelagem, Texturização e Iluminação"
        />

      </div>
      <div class="col-lg-6 col-md-4 col-12">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-6 d-lg-block">
            
            <Card 
            :progress="11" 
            icon="http://via.placeholder.com/45x45" 
            title="Servlets: Fundamentos de Java na Web"
            />
            
          </div>
          <div class="col-lg-6 col-md-12 col-6 d-lg-block">
            
            <Card 
            :progress="25" 
            icon="http://via.placeholder.com/45x45" 
            title="Java e JSTL: Tags para facilitar o desenvolvimento JSP"
            />
            
          </div>
          <div class="col-lg-6 col-md-12 col-6 d-lg-block d-md-none">
            
            <Card 
            :progress="42" 
            icon="http://via.placeholder.com/45x45" 
            title="Java EE parte 1: Crie sua loja online com CDI, JSF, JPA"
            />
            
          </div>
          <div class="col-lg-6 col-md-12 col-6 d-lg-block d-md-none">
            
            <Card 
            :progress="50" 
            icon="http://via.placeholder.com/45x45" 
            title="Docker: Criando containers sem dor de cabeça"
            />
            
          </div>
        </div>
      </div>
    </div>
  </part>
</template>

<script>
  import Part from '../components/Part.vue'
  import PartTitle from '../components/PartTitle.vue'
  import Card from '../components/Card.vue'

  export default {
    components: {
      Part,
      PartTitle,
      Card
    }
  }
</script>
