<template>
  <div>
    <div class="cover">
      <div class="container">
        <div class="row">
          <div class="col">
            <img src="http://via.placeholder.com/150x150" alt="Curso Java e JSTL: Tags para facilitar o desenvolvimento JSP">
            <h1>Curso Java e JSTL: Tags para facilitar o desenvolvimento JSP</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="line">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 d-lg-block d-none">
            <course-info/>
          </div>
          <div class="col-lg-4 col-12">
            <course-actions/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CourseInfo from '../components/CourseInfo.vue'
import CourseActions from '../components/CourseActions.vue'

export default {
  components: {
    CourseInfo,
    CourseActions
  }
}
</script>

<style lang="sass" scoped>
.cover,
.line
  color: #fff

.cover
  background: #F7B541
  text-align: center
  padding: 60px 0 40px
  img
    margin-bottom: 4px
  h1
    font-size: 28px

.line
  background: #fff
  height: 81px
  position: relative
  @media (min-width: 992px)
    background: #FCC34F
</style>
