<template>
  <div>
    <part>
      <div class="row">
        <div class="col-lg-6 col-md-12">

          <part-title>Editar dados</part-title>

          <div class="alert" v-if="alert.success.show">
            <alert success>{{ alert.success.text }}</alert>
          </div>

          <div class="alert" v-if="alert.danger.show">
            <alert success>{{ alert.danger.text }}</alert>
          </div>
          
          <form @submit="formHandler">
            <div class="row">
              <div class="col-sm-6 col-12">
                <my-input value="Allan Ferreira" label="Nome" name="nome"/>
              </div>
              <div class="col-sm-6 col-12">
                <my-input value="(11) 900 000 000" label="Telefone" name="telefone"/>
              </div>
              
              <div class="col-12">
                <my-input value="allan.less@outlook.com" label="Email" name="email"/>
              </div>
              
              <div class="col-12">
                <my-input value="123456" label="Senha" name="senha" type="password"/>
              </div>
            </div>
            
            <my-button>Editar</my-button>
          </form>

        </div>
      </div>
    </part>
  </div>
</template>

<script>
  import Alert from '../components/Alert.vue'
  import Part from '../components/Part.vue'
  import PartTitle from '../components/PartTitle.vue'
  import MyInput from '../components/MyInput.vue'
  import MyButton from '../components/MyButton.vue'

  export default {
    components: {
      Alert,
      Part,
      PartTitle,
      MyInput,
      MyButton
    },
    methods: {
      formHandler(e) {
        e.preventDefault()
        this.alert.success.show = true
      }
    },
    data() {
      return {
        alert: {
          success: {
            show: false,
            text: 'Dados editados com sucesso!'
          },
          danger: {
            show: false,
            text: 'Não deixe campos em branco!'
          }
        }
      }
    }
  }
</script>

<style lang="sass" scoped>
.alert /deep/ div
  position: relative
  top: -23px
</style>