<template>
  <section class="content-page">
    <m-sidebar class="content-page__sidebar" :class="{ 'content-page__sidebar--is-hidden': isSidebarHidden }"/>
    <m-content class="content-page__content"/>
    <m-button class="content-page__hide-button" is-circle="false" v-on:click="hide" v-html="require('../assets/img/backburger.svg')"></m-button>
  </section>
</template>

<script>
  import MSidebar from '../components/MSidebar.vue'
  import MContent from '../components/MContent.vue'
  import MButton from '../components/MButton.vue'

  export default {
    components: {
      MSidebar,
      MContent,
      MButton,
    },
    data() {
      return {
        isSidebarHidden: false
      }
    },
    methods: {
      hide() {
        this.isSidebarHidden = !this.isSidebarHidden;
      }
    }
  }
</script>

<style lang="scss" scoped>
  .content-page
  {
    display: flex;
    height: 100vh;
    width: 100vw;
  }

  .content-page__sidebar
  {
    position: fixed;
    height: 100%;
    width: calc(100% - 72px);

    @media (min-width: 768px)
    {
      position: static;
      flex-shrink: 0;
      width: 375px;
    }
  }

  .content-page__sidebar--is-hidden
  {
    display: none;
    @media (min-width: 768px)
    {
      //display: block;
    }
  }

  .content-page__hide-button
  {
    position: fixed;
    bottom: 18px;
    right: 18px;

    @media (min-width: 768px)
    {
      //display: none;
    }
  }

  .content-page__content
  {
    flex-grow: 1;
  }
</style>
