<template>
  <page>
    <page-title>Cursos</page-title>
    <all-courses/>
  </page>
</template>

<script>
  import Page from '../components/Page.vue'
  import PageTitle from '../components/PageTitle.vue'
  import AllCourses from '../containers/AllCourses.vue'
  export default {
    components: {
      Page,
      PageTitle,
      AllCourses
    }
  }
</script>