<template>
  <div>
    <page>
      <course-cover/>
      <course-content/>
    </page>
  </div>
</template>

<script>
  import Page from '../components/Page.vue'
  import CourseCover from '../containers/CourseCover.vue'
  import CourseContent from '../containers/CourseContent.vue'
  export default {
    data() {
      return {
        curso: this.$route.params.curso
      }
    },
    components: {
      Page,
      CourseCover,
      CourseContent
    }
  }
</script>

<style lang="sass" scoped>
div
  overflow: hidden
</style>
