<template>
  <div class="dashboard">
    <page>
      <m-header></m-header>
      <page-title>Dashboard</page-title>
      <course-in-progress/>
      <another-courses/>
    </page>
  </div>
</template>

<script>
  import Page from '../components/Page.vue'
  import PageTitle from '../components/PageTitle.vue'
  import CourseInProgress from '../containers/CourseInProgress.vue'
  import AnotherCourses from '../containers/AnotherCourses.vue'
  import MHeader from '../components/MHeader.vue'

  export default {
    components: {
      Page,
      PageTitle,
      CourseInProgress,
      AnotherCourses,
      MHeader,
    }
  }
</script>
<style lang="scss" scoped>
  .dashboard
  {
    margin-top: 76px;
  }
</style>
