<template>
  <page>
    <page-title>Usuário</page-title>
    <edit-user/>
  </page>
</template>

<script>
  import Page from '../components/Page.vue'
  import PageTitle from '../components/PageTitle.vue'
  import EditUser from '../containers/EditUser.vue'
  export default {
    components: {
      Page,
      PageTitle,
      EditUser
    }
  }
</script>