<template>
  <div :class="{ success, warning, danger }"><slot/></div>
</template>

<script>
export default {
  props: {
    success: Boolean,
    warning: Boolean,
    danger: Boolean
  }
}
</script>

<style lang="sass" scoped>
div
  padding: 10px 15px
  color: #fff
  background: #31a7e5
  position: relative

.success
  background: #5dda7b

.warning
  background: #fdc34f

.danger
  background: #fd4f4f
</style>
