<template>
  <div class="card" :class="{ big }">
    <progress-bar v-if="progress > 0" :number="progress"/>
    <img :src="icon" :alt="title">
    <h3>{{ title }}</h3>
    <div class="actions">
      <router-link to="/">Ver conteúdo do curso</router-link>
      <router-link to="/">Continuar onde parou</router-link>
    </div>
  </div>
</template>

<script>
import ProgressBar from '../components/ProgressBar.vue'
export default {
  props: {
    big: Boolean,
    progress: {
      default: 0,
      type: Number
    },
    title: String,
    icon: String
  },
  components: {
    ProgressBar
  }
}
</script>


<style lang="sass" scoped>
.card
  padding: 33px 15px 15px
  position: relative
  height: 195px
  text-align: center
  color: #747c81
  border: 1px solid #e3e8ed;
  background: #fff
  font-size: 14px
  box-shadow: 0 1px 2px 0 rgba(232,225,225,.5)
  margin-bottom: 30px
  /deep/ .progressbar
    padding: 15px
    position: absolute
    top: 0
    left: 0
    width: 100%

img
  margin: 2px 0 10px

h3
  padding: 0 10px
  font-size: 14px
  font-weight: 400
  color: #747c81

.actions
  display: none
  position: absolute
  bottom: 0
  left: 0
  z-index: 10
  width: 100%
  a
    color: #fff
    display: block
    width: 50%
    text-decoration: none
    text-transform: uppercase
    padding: 18px 0
    font-size: 13px
    font-weight: 300
    &:first-child
      background: #32a7e5
      float: left
    &:last-child
      background: #5ed97b
      float: right

.big
  height: 420px
  .actions
    display: flex
  img
    margin: 75px 0 24px

  h3
    padding: 0 30px
    font-weight: 600
    font-size: 18px
</style>
