<template>
  <div class="coursedetails">
    <part>
      <course-title>Pré-requisitos:</course-title>
      <requirement icon="http://via.placeholder.com/48x48">Servlets: Fundamentos de Java na Web</requirement>
    </part>
    <part>
      <course-title>Carreiras:</course-title>
      <div class="career">Desenvolvedor Java Web</div>
    </part>
    <part>
      <course-title>Instrutor:</course-title>
      <div class="trainer">
        <strong>Maurício Aniche</strong><br>
        Doutor em engenharia de software pela USP. Um dos idealizadores do Alura e atualmente pesquisador pela Delft University of Technology na Holanda. Pode ser encontrado em clubes de dança de salão.
      </div>
    </part>
  </div>
</template>

<script>
import Part from '../components/CourseDetailsPart.vue'
import CourseTitle from '../components/CourseDetailsTitle.vue'
import Requirement from '../components/Requirement.vue'

export default {
  components: {
    Part,
    CourseTitle,
    Requirement
  }
}
</script>

<style lang="sass" scoped>
.coursedetails
  background: #fff
  border-top: 5px solid #d9e2e8
  padding: 30px
  color: #4f5158

.trainer
  font-size: 14px

.career
  background: #25d284
  color: #fff
  font-weight: 600
  padding: 5px 10px
  display: inline-block
  border-radius: 5px
  font-size: 14px
</style>