<template>
  <div class="courseactions align-items-center">
    <div class="linebg d-lg-block d-none"></div>
    <div class="actions">
      <router-link :to="{ name: 'conteudo' }">
        <my-button success>Entrar no Curso</my-button>
      </router-link>
    </div>
  </div>
</template>

<script>
import MyButton from '../components/MyButton.vue'
export default {
  components: {
    MyButton
  }
}
</script>

<style lang="sass" scoped>
.courseactions
  height: 81px
  display: flex
  position: relative

.linebg
  background: #fff
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 1000%
  left: -30px
  z-index: 10

.actions
  z-index: 20
  position: relative
  @media (max-width: 991px)
    width: 100%
    text-align: center
</style>
