<template>
  <div class="coursedetailpart">

  </div>
</template>

<style lang="sass" scoped>
.coursedetailpart
  margin-bottom: 30px
  &:last-child
    margin: 0
h3
  color: #4c555b
  font-size: 17px
</style>
