<template>
  <div class="courseInfo align-items-center justify-content-end">
    <div>
      Nota
      <span>8.7</span>
    </div>
    <div>
      Nível
      <span>Básico</span>
    </div>
    <div>
      Última atualização
      <span>13/11/2017</span>
    </div>
    <div>
      Carga horária
      <span>6h</span>
    </div>
  </div>
</template>

<style lang="sass" scoped>
.courseInfo
  display: flex
  position: relative
  top: -1px
  height: 81px
  padding-right: 35px
  div
    display: inline-block
    font-size: 12px
    text-align: center
    line-height: 22px
    margin-right: 80px
    &:last-child
      margin-right: 0
  span
    font-size: 24px
    line-height: 24px
    font-weight: 700
    display: block
</style>
