<template>
  <div>
    <ul>
      <li>Iterando sobre coleções</li>
      <li>Tomando decisões</li>
      <li>Montando URLs</li>
      <li>Formatando datas e números</li>
      <li>Exibindo mensagens internacionalizáveis</li>
      <li>Reutilizando páginas</li>      
    </ul>
  </div>
</template>

<style lang="sass" scoped>
ul
  padding: 0
  margin: 0
  list-style: none
  @media (max-width: 576px)
    margin-bottom: 50px
  li
    padding: 11px 0
    border-bottom: 1px solid #e7ebec
    color: #666
    &:last-child
      border: 0
</style>
