<template>
  <button class="m-button" v-bind:class="{ 'm-button--is-circle': isCircle }" v-on:click="click">
    <slot></slot>
  </button>
</template>

<script>
  export default {
    props: [
      'isCircle',
    ],
    methods: {
      click() {
        this.$emit('click')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .m-button
  {
    background-color: #212121;
    border-radius: 4px;
    border: 0;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    padding: 9px 18px;
    text-transform: uppercase;
  }

  .m-button--is-circle
  {
    border-radius: 18px;
    height: 36px;
    padding: 9px;
    width: 36px;
  }
</style>
