<template>
  <article class="m-content">

    <header class="m-content__header">
      <div class="m-content__wrapper">
        <m-icon class="m-content__icon">
          <i v-html="require('../assets/img/video.svg')"></i>
        </m-icon>
        <h1 class="m-content__title">Olá Conteúdo</h1>
        <m-button class="m-content__button">Próxima Atividade</m-button>
      </div>
    </header>

    <div class="m-content__body">
      <img src="http://via.placeholder.com/800x450" />
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit rem esse dol</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit rem esse dolor exercitationem, illum recusandae rerum voluptatibus numquam delectus consectetur perferendis adipisci neque debitis, assumenda minima aut amet magni ullam.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit rem esse dolor exercitationem, illum recusandae rerum voluptatibus numquam delectus consectetur perferendis adipisci neque debitis, assumenda minima aut amet magni ullam.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit rem esse dolor exercitationem, illum recusandae rerum voluptatibus numquam delectus consectetur perferendis adipisci neque debitis, assumenda minima aut amet magni ullam.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit rem esse dolor exercitationem, illum recusandae rerum voluptatibus numquam delectus consectetur perferendis adipisci neque debitis, assumenda minima aut amet magni ullam.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit rem esse dolor exercitationem, illum recusandae rerum voluptatibus numquam delectus consectetur perferendis adipisci neque debitis, assumenda minima aut amet magni ullam.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit rem esse dolor exercitationem, illum recusandae rerum voluptatibus numquam delectus consectetur perferendis adipisci neque debitis, assumenda minima aut amet magni ullam.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit rem esse dolor exercitationem, illum recusandae rerum voluptatibus numquam delectus consectetur perferendis adipisci neque debitis, assumenda minima aut amet magni ullam.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit rem esse dolor exercitationem, illum recusandae rerum voluptatibus numquam delectus consectetur perferendis adipisci neque debitis, assumenda minima aut amet magni ullam.</p>
    </div>

  </article>
</template>

<script>
  import MButton from '../components/MButton.vue'
  import MIcon from '../components/MIcon.vue'

  export default {
    components: {
      MButton,
      MIcon,
    }
  }
</script>

<style lang="scss" scoped>
  .m-content
  {
    font-size: 12px;
    line-height: 1.5;
    overflow: scroll;
  }

  .m-content__header
  {
    background-color: #edf1f2;
  }

  .m-content__wrapper
  {
    margin: 0 auto;
    max-width: 836px;
    overflow: hidden;
    padding: 9px;
  }

  .m-content__icon
  {
    float: left;
    margin: 9px;
  }

  .m-content__title
  {
    float: left;
    font-size: 24px;
    margin: 9px;
  }

  .m-content__button
  {
    float: left;
    margin: 9px;
    clear: left;
    @media (min-width: 768px)
    {
      float: right;
      clear: none;
    }
  }

  .m-content__body
  {
    color: #3d464d;
    font-family: 'Source Serif Pro', serif;
    font-size: 18px;
    line-height: 36px;
    margin: 0 auto;
    max-width: 836px;
    padding: 0 18px;

    img
    {
      display: block;
      height: auto;
      margin: 18px 0;
    }

    p
    {
      margin: 18px 0;
    }
  }

</style>
