<template>
  <header class="m-header">
    <div class="container">
      <div class="row">
        <div class="col-1 d-md-none">
          <m-icon class="m-header__icon" v-on:click="hide" v-html="require('../assets/img/menu.svg')"></m-icon>
        </div>
        <a class="m-header__logo col-10 col-md-auto" href="#">
          <img class="m-header__icon" src="http://via.placeholder.com/100x36" alt="">
        </a>
        <div class="w-100 d-md-none"></div>
        <m-nav class="m-header__nav col" :class="{ 'm-header__nav--is-hidden': isNavHidden }"></m-nav>
      </div>
    </div>
  </header>
</template>

<script>
  import MNav from '../components/MNav.vue'
  import MIcon from '../components/MIcon.vue'

  export default {
    components: {
      MNav,
      MIcon,
    },
    data() {
      return {
        isNavHidden: true,
      }
    },
    methods: {
      hide() {
        this.isNavHidden = !this.isNavHidden
      }
    }
  }
</script>

<style lang="scss" scoped>
  .m-header
  {
    background-color: #fff;
    color: #747c81;
    border-top: 4px solid #FFE000;
    position: fixed;
    width: 100%;
    z-index: 20;
    top: 0;
  }

  .m-header__logo
  {
    text-align: center;
  }

  .m-header__icon
  {
    position: relative;
    margin: 18px 0;
    vertical-align: top;
    z-index: 10;
  }

  .m-header__nav
  {}

  .m-header__nav--is-hidden
  {
    @media (max-width: 767px)
    {
      display: none;
    }
  }
</style>
