<template>
  <div class="m-icon" v-bind:class="{ 'm-icon--is-small': isSmall }" v-on:click="click">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    props: [
      'isSmall',
    ],
    methods: {
      click() {
        this.$emit('click');
      }
    }
  }
</script>

<style lang="scss" scoped>
  .m-icon
  {
    display: block;
    height: 36px;
    width: 36px;
  }

  .m-icon--is-small
  {
    padding: 10px;
  }
</style>
