<template>
  <nav class="m-nav">
    <ul class="m-nav__list row no-gutters justify-content-md-end">
      <li class="m-nav__item col-md-auto">
        <a class="m-nav__link" href="#">Dashboard</a>
      </li>
      <li class="m-nav__item col-md-auto">
        <a class="m-nav__link" href="#">Cursos</a>
      </li>
      <li class="m-nav__item m-nav__item--dropdown col-md-auto">
        <a class="m-nav__link" href="#">Usuário</a>
        <ul class="m-nav__dropdown">
          <li class="m-nav__item">
            <a class="m-nav__link" href="#">Perfil</a>
          </li>
          <li class="m-nav__item">
            <a class="m-nav__link" href="#">Sair</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</template>

<script>
  export default {}
</script>

<style lang="scss" scoped>
  .m-nav
  {
    color: #747c81;
    font-size: 14px;
    line-height: 18px;

    @media (max-width: 767px)
    {
      height: 100vh;
    }
  }

  .m-nav__list
  {
    @media (max-width: 767px)
    {
      border-top: 1px solid rgba(216,216,216,.2);
      border-left: 1px solid rgba(216,216,216,.2);
      border-right: 1px solid rgba(216,216,216,.2);
      margin-bottom: 18px;
    }
  }

  .m-nav__list > .m-nav__item
  {
    @media (max-width: 767px)
    {
      border-bottom: 1px solid rgba(216,216,216,.2);
    }
  }

  .m-nav__list > .m-nav__item--dropdown > .m-nav__link
  {
    &:after
    {
      content: ' \25be';
    }
  }

  .m-nav__list > .m-nav__item--dropdown > .m-nav__dropdown
  {
    background-color: #fff;
    border-top: 1px solid rgba(216,216,216,.2);
    display: none;

    @media (min-width: 768px)
    {
      right: 0;
      position: absolute;
      z-index: 1;
      border-left: 1px solid rgba(216,216,216,.2);
      border-right: 1px solid rgba(216,216,216,.2);
      width: 150px;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: -10px;
        right: 20px;
        z-index: 2;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent rgba(216,216,216,.2) transparent;
      }
    }
  }

  .m-nav__list > .m-nav__item--dropdown > .m-nav__dropdown > .m-nav__item
  {
    border-bottom: 1px solid rgba(216,216,216,.2);

    @media (max-width: 767px)
    {
      &:last-child
      {
        border-bottom: none;
      }
    }

    @media (min-width: 768px)
    {
      &:hover
      {
        background-color: rgba(216,216,216,.2);
      }
    }
  }

  .m-nav__list > .m-nav__item--dropdown > .m-nav__dropdown > .m-nav__item > .m-nav__link
  {
    @media (min-width: 768px)
    {
      padding: 12px 15px;
    }
  }

  .m-nav__list > .m-nav__item--dropdown:hover > .m-nav__dropdown,
  .m-nav__list > .m-nav__item--dropdown > .m-nav__dropdown:hover
  {
    display: block;
  }

  .m-nav__list .m-nav__link
  {
    color: inherit;
    display: block;
    padding: 27px 15px;
    text-decoration: none;
    text-transform: uppercase;
  }
</style>
