<template>
  <aside class="m-sidebar">

    <section class="m-sidebar__header">
      <!-- <m-icon class="m-sidebar__icon">
        <i v-html="require('../assets/img/backburger.svg')"></i>
      </m-icon> -->
      <div class="m-sidebar__info">
        <m-icon class="m-sidebar__icon">
          <i v-html="require('../assets/img/notebook.svg')"></i>
        </m-icon>
        <h2 class="m-sidebar__title">Olá Curso</h2>
        <div class="m-sidebar__progress"></div>
      </div>
    </section>

    <section class="m-sidebar__section m-sidebar__section--is-highlighted">
      <p class="m-sidebar__textIcon">
        <span>Módulo</span>
        <strong>01</strong>
      </p>
      <h3 class="m-sidebar__subTitle">Olá Módulo</h3>
    </section>

    <section class="m-sidebar__section">
      <m-icon class="m-sidebar__icon">
        <i v-html="require('../assets/img/test-tube.svg')"></i>
      </m-icon>
      <h3 class="m-sidebar__subTitle">Conteúdos</h3>
      <ul class="m-sidebar__list">
        <li class="m-sidebar__item m-sidebar__item--is-done">
          <m-icon class="m-sidebar__icon" is-small="true">
            <i v-html="require('../assets/img/video.svg')"></i>
          </m-icon>
          <span class="m-sidebar__link">Olá Conteúdo - Visto</span>
        </li>
        <li class="m-sidebar__item m-sidebar__item--is-done m-sidebar__item--is-selected">
          <m-icon class="m-sidebar__icon" is-small="true">
            <i v-html="require('../assets/img/presentation.svg')"></i>
          </m-icon>
          <span class="m-sidebar__link">Olá Conteúdo - Visto Selecionado</span>
        </li>
        <li class="m-sidebar__item">
          <m-icon class="m-sidebar__icon" is-small="true">
            <i v-html="require('../assets/img/video.svg')"></i>
          </m-icon>
          <span class="m-sidebar__link">Olá Conteúdo - Não Visto</span>
        </li>
        <li class="m-sidebar__item m-sidebar__item--is-selected">
          <m-icon class="m-sidebar__icon" is-small="true">
            <i v-html="require('../assets/img/presentation.svg')"></i>
          </m-icon>
          <span class="m-sidebar__link">Olá Conteúdo - Não Visto Selecionado</span>
        </li>
      </ul>
    </section>

    <section class="m-sidebar__section m-sidebar__section--is-highlighted">
      <m-icon class="m-sidebar__icon">
        <i v-html="require('../assets/img/book-open-variant.svg')"></i>
      </m-icon>
      <h3 class="m-sidebar__subTitle">Módulos</h3>
      <select class="m-sidebar__menu">
        <option>01. Olá Módulo</option>
        <option>02. Tchau Módulo</option>
      </select>
    </section>

    <section class="m-sidebar__section">
      <m-icon class="m-sidebar__icon">
        <i v-html="require('../assets/img/link.svg')"></i>
      </m-icon>
      <h3 class="m-sidebar__subTitle">Outros Links</h3>
      <ul class="m-sidebar__list">
        <li class="m-sidebar__item">
          <m-icon class="m-sidebar__icon" is-small="true">
            <i v-html="require('../assets/img/arrange-send-to-back.svg')"></i>
          </m-icon>
          <span class="m-sidebar__link">Trocar de curso</span>
        </li>
      </ul>
    </section>
  </aside>
</template>

<script>
  import MIcon from '../components/MIcon.vue'

  export default {
    components: {
      MIcon,
    }
  }
</script>

<style lang="scss" scoped>
  .m-sidebar
  {
    background-color: #262626;
    color: #fff;
    font-size: 12px;
    line-height: 1.5;
    overflow: scroll;
  }

  .m-sidebar__header
  {
    align-items: flex-start;
    display: flex;
    padding: 9px;
  }

  .m-sidebar__icon
  {
    margin: 9px;
  }

  .m-sidebar__textIcon
  {
    font-size: 8px;
    height: 36px;
    line-height: 8px;
    margin: 9px;
    text-align: center;
    text-transform: uppercase;
    width: 36px;
    strong
    {
      font-size: 28px;
      line-height: 28px;
    }
  }

  .m-sidebar__info
  {
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
  }

  .m-sidebar__title
  {
    flex-grow: 1;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    margin: 9px;
    max-width: calc(100% - 72px);
  }

  .m-sidebar__progress
  {
    background-color: #9de481;
    border-radius: 4px;
    height: 8px;
    margin: 14px 9px;
    width: 100%;
  }

  .m-sidebar__section
  {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 9px;
  }

  .m-sidebar__section--is-highlighted
  {
    background-color: #212121;
    padding: 27px 9px;
  }

  .m-sidebar__subTitle
  {
    flex-grow: 1;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    margin: 9px;
  }

  .m-sidebar__list
  {
    width: 100%;
  }

  .m-sidebar__item
  {
    align-items: center;
    border-left: solid 6px transparent;
    display: flex;
    margin: 0 -9px;
    padding: 0 9px 0 3px;
    &:hover
    {
      background-color: #292c2f;
    }
  }

  .m-sidebar__item--is-selected
  {
    background-color: #292c2f;
    border-left: solid 6px #32a7e5;
  }

  .m-sidebar__item--is-done .m-sidebar__icon
  {
    color: #9de481;
  }

  .m-sidebar__link
  {
    flex-grow: 1;
    margin: 9px;
  }

  .m-sidebar__menu
  {
    background-color: #262626;
    border: 0;
    color: inherit;
    height: 36px;
    margin: 9px;
    width: 100%;
  }
</style>
