<template>
  <button :class="{ success, warning, danger }">
    <slot/>
  </button>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: '#5dda7b'
    },
    success: Boolean,
    warning: Boolean,
    danger: Boolean
  }
}
</script>

<style lang="sass" scoped>
button
  border: 0
  height: 51px
  padding: 0 20px
  border: 1px solid
  border-radius: 4px
  cursor: pointer
  color: #fff
  background: #31a7e5
  @media (max-width: 576px)
    width: 100%
  &:focus
    outline: 0

.success
  background: #5dda7b

.warning
  background: #fdc34f

.danger
  background: #fd4f4f
</style>