<template>
  <div>
    <label>
      <div>{{ label }}</div>
      <span>{{ note }}</span>
    </label>
    <input :value="value" :name="name" :type="type"/>
  </div>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: 'text'
    },
    value: String,
    note: String,
    label: {
      type: String,
      required: true
    },
    name: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="sass" scoped>

label
  font-size: 16px
  display: flex
  div,
  span
    flex: 1
  div
    color: #747c81
    justify-content: flex-start
  span
    text-align: right
    color: red
    justify-content: flex-end

input
  display: block
  background: #fbfeff
  margin: 8px 0 25px
  padding: 12px 15px
  width: 100%
  color: #747c81
  border-radius: 2px
  border: 2px solid #e3e9ec
  &:focus
    outline: 0
</style>
