<template>
  <div class="pagetitle">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1><slot/></h1>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="sass" scoped>
.pagetitle
  background: #a1b0c0

h1
  color: #fff
  font-weight: 600
  text-transform: uppercase
  font-size: 21px
  margin: 0
  padding: 19px 0
</style>
