<template>
  <div class="row">
    <div class="col">
      <h2><slot/></h2>
      <span></span>
    </div>
  </div>
</template>

<style lang="sass" scoped>
h2
  color: #4c555b
  font-size: 24px
  font-weight: 700
  margin-bottom: 0

span
  width: 50px
  display: block
  margin-top: 7px
  margin-bottom: 50px
  height: 5px
  background-color: #e2e7ea
</style>
