<template>
  <div class="progressbar" v-if="number">
    <div class="bar">
      <div class="progress" :style="`width: ${number}%`"></div>
    </div> 
    <span>{{ number }}%</span>
  </div>
</template>

<script>
export default {
  props: {
    visible: Boolean,
    number: Number
  }
}
</script>

<style lang="sass" scoped>
.bar,
.progress
  height: 7px

.bar
  background: #edf2f5
  flex: 1

.progress
  background: #67C163

.progressbar
  display: flex

span
  padding-left: 10px
  display: inline-block
  color: #c5d2dc
  font-size: 12px;
  font-weight: 600;
  position: relative;
  top: -5px;
</style>
