<template>
  <div class="requirement">
    <img :src="icon">
    <h4><slot/></h4>
  </div>
</template>

<script>
export default {
  props: {
    icon: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="sass" scoped>
.requirement
  margin: 15px 0
  padding: 17px
  height: 80px
  width: 100%
  background: #FAFBFB
  border-bottom: 1px solid #F3F3F3
  display: flex
  align-items: center
  color: #5a6266

img
  margin-right: 10px

h4
  font-size: 13px
  font-weight: 400
  line-height: 13px
  margin: 0
</style>