<template>
  <div class="app">
    <router-view/>
  </div>
</template>

<style lang="sass">
  @import "~minireset.css/minireset.sass"
  @import "./assets/bootstrap-grid.css"
  @import "./assets/bootstrap-reboot.css"
  @import url('./assets/bootstrap-helper-display.css')
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700')
  @import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700')

  body
    font-family: 'Open Sans', sans-serif

  svg
    fill: currentColor
</style>
